$primary_colour: #007aff;
$secondary_colour: #fff;

.btn {
  outline: 0;
  max-width: 12rem;
  width: 100%;
  margin-bottom: 0 !important;
  border-width: 1px;
  border-style: solid;
  -webkit-transition: .2s;
  transition: .2s;
  border-radius: 22.4px;
  min-height: 47px;
  font-size: 1rem;
  cursor: pointer;
  &__primary {
    color: $primary_colour;
    border-color: $primary_colour; 
    background: transparent;
    &:hover {
      background: $primary_colour;
      color: white;
    }
  }
  &__seconday {
    color: $secondary_colour;
    border-color: $secondary_colour;  
    background: transparent;
    &:hover {
      background: $secondary_colour;
      color: #000;
    }
  }
}